body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  cursor: default;
}

.nes {
  position: absolute;
  transform: translate(calc(100vw - 100% - 50px), calc(50px));
  height: 260px;
  z-index: 3;
}


header {
  position: relative;
  color: white;
  background-color: #e80016;
  height: 240px;
  overflow: hidden;
  padding: 60px;
  letter-spacing: 0.05em;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.4);


  h1 {
    margin: 0 0 0px;
    font-size: 120px;
    line-height: 1;
    opacity: 1;
    transition: 400ms ease-out;
  }

  h2 {
    margin: 0;
    font-size: 18px;
    transition: 400ms ease-out 300ms;
  }

  h1,
  h2 {
    .is-changing & {
      transform: translateY(300px);
    }
  }

}

section {
  max-width: 800px;
  margin: 160px auto;

  p {
    transition: 400ms ease-out 400ms;

    .is-changing & {
      transform: translateY(80vh);
    }
  }
}
